* {
  box-sizing: border-box;
  }

body {
    font-family: 'Averta';

}
/* button for pop up form */
.open_form {
    background-color: #026cdf;
    background-image: linear-gradient(90deg,#0150a7,#026cdf,#0150a7);
    color: white;
    font-size: 16px;
    padding: 10px 26px;
    border: 2px solid transparent;
    width: 310px;
    text-align: center;
    cursor: pointer;
}
  
.form_popup {
   display: none;
   border: 2px solid #026cdf;
}
.header {
  text-align: center;
}
.form_container{
   width: 300px;
   padding: 10px;
   background-color: white;
   border-radius: 4px;
}
.contact_by {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 18px;
  box-shadow: 1px 1px 3px 3px rgb(214 225 228 / 59%);
}
.phone {
  display: flex;
  gap: 8px;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border-color: #808080;
  float: left;
}
.phone_input {
  display: flex;
  flex-direction: column;
  float: right;
  text-align: left;

}
p {
  font-size: 16px;
  color:#808080;
  margin-top: 6px;
  padding: 0;
}
/* input fields */
.form_container input[type ="tel"],.form_container input[type ="email"] {
  width: 100%;
  padding: 8px 24px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* submit button */
.button {
    background-color: #026cdf;
    background-image: linear-gradient(90deg,#0150a7,#026cdf,#0150a7);
    color: white;
    font-size: 16px;
    padding: 8px 24px;
    border: 2px solid transparent;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.8;
    cursor: pointer;
}

.close {
    background:#d93b3b;
    background-image:linear-gradient(90deg,#c70a0a,#d93b3b,#c70a0a);
    
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

